Name: ZeTime Goodies
Package: com.github.cbsghost.zetime-goodies
Depends: mobilesubstrate, firmware (>= 8.0)
Version: 0.0.4
Architecture: iphoneos-arm
Description: ZeTime app with extended features.
Homepage: https://github.com/cbsghost/ZeTime-Goodies
Maintainer: CbS Ghost <cbsghost@gmail.com>
Author: CbS Ghost <cbsghost@gmail.com>
Section: Tweaks
Copyright: 2017 CbS Ghost <cbsghost@gmail.com>
License: LGPL-3.0
dev: cbsghost
